<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="manifest" href="$$ROOT_PATH$$/manifest.json">
        <link rel="shortcut icon" href="$$ROOT_PATH$$/images/favicon.png">
        <link rel="stylesheet" href="$$ROOT_PATH$$/css/style.css">
        <title>Les Recettes de Mamou</title>
    </head>
    <body>
        <div class="background"></div>
        <header class="header-wrapper">
            <h1 class="header-title">
                <a href="." title="Accueil" rel="home">Les Recettes de Mamou</a>
            </h1>
            <img class="header-avatar" src="$$ROOT_PATH$$/images/mamou-vignette.jpg" alt="Mamou" width="120px">
        </header>
        <main class="main home">
            <div class="summary">
                <ul>
                    $$LISTE_PARTS$$
                </ul>
            </div>
        </main>
        <footer>
            <span>
                © Les Recettes de Mamou - 2021
            </span>
            <span class="credits">
                Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/smashicons" target="_blank" rel="noopener noreferrer" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon" target="_blank" rel="noopener noreferrer">www.flaticon.com</a>
            </span>
        </footer>
    </body>
</html>