<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="manifest" href="/manifest.json">
        <link rel="shortcut icon" href="$$ROOT_PATH$$/images/favicon.png">
        <link rel="stylesheet" href="$$ROOT_PATH$$/css/style.css">
        <title>$$RECETTE_TITLE$$</title>
    </head>
    <body>
        <div class="background"></div>
        <header class="header-recipe-wrapper">
            <a href="$$ROOT_PATH$$" title="Accueil"><img class="icon" src="$$ROOT_PATH$$/images/cook.svg" alt="Les Recettes de Mamou" >Les Recettes de Mamou</a>
        </header>
        <main class="main recipe">
            <div class="notepad">
            $$RECETTE_CONTENT$$
            </div>
        </main>
        <footer>
            <span>
                © Les Recettes de Mamou - 2021
            </span>
            <span class="credits">
                Icônes conçues par <a href="https://www.flaticon.com/fr/auteurs/smashicons" target="_blank" rel="noopener noreferrer" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon" target="_blank" rel="noopener noreferrer">www.flaticon.com</a>
            </span>
        </footer>
    </body>
</html>